/*  

-> THEME COLORS
Header      Neela wala      #00A8E7
Buttons     Sabazzzz        #2ABB9B
Background  Greyish         #ECF0F1

-> COLOR TAGS
html        blue:           #19B5FE
php         lightblue:      #3A539B
asp         lightred        #C0392B 
java        red             #F22613 
android     green           #2ECC71 
javascript  orange:         #DDA423 
jquery      pheekablue      #2AE7C3 
css         voilet:         #FCDC05 
cpp         darkgrey:       #67809F 
wordpress   silver          #6C7A89 
d-tools     green           #913D88  
business    win8green       #34495e  
design      darkoragne      #e67e22
other       greyishblue     #915E25
*/

* { margin:0; padding:0; }
body { margin:0 auto; padding:0; background:#ECF0F1; font-family:"Trebuchet MS", Helvetica, sans-serif; max-width:1366px; }
input, select, option, textarea, button { font-family:"Trebuchet MS", Helvetica, sans-serif; }
hr { opacity:0.1; }
.clear { clear:both; }
.line-border { border:1px solid #ECF0F1; }
a { text-decoration:none; color:#58585a; }
a.facebook { padding:2px 10px; background:#3b5998; }
a.twitter { padding:2px 10px; background:#55acee; }
a.google { padding:2px 10px; background:#d95333; }
a.linkedin { padding:2px 10px; background:#1d87be; }
ul li { color:#58585a; }
ul li a { font-size:14px; }
h1, h2, h3, h4, h5, h6, p { color:#58585a; }
.title { padding:15px 20px; }
.breadcrumb { margin-top:2%; margin-left:5%; }
.breadcrumb h2 { color:#2ABB9B; }
.notification-badge { display:block; position:absolute; margin:-40px 83px; padding:0 5px; font-size:12px; color:#00A8E7; background:#FFFFFF; }
.inline-buttons { padding:20px; float:left; }
.inline-buttons a { display:inline-block; padding:5px 10px; background:#2ABB9B; font-size:14px; color:#ffffff; }
button.default { padding:5px 15px; font-size:14px; background:#2ABB9B; color:#FFFFFF; border:1px solid #2ABB9B; cursor:pointer; transition:all 0.5s ease-out; }
    button.default:hover { background:#ECF0F1; border:1px solid #2ABB9B; color:#2ABB9B; }

.content-md {
    margin-top:18px;
    margin-left:5%;
    padding:10px 0;
    float:left;
    width:960px;
    background:#ffffff;
}
.content-lg {
    margin-top:20px;
    margin-left:5%;
    padding:0 0 30px;
    float:left;
    width:90%;
    background:#ffffff;
}

/*-----------------------------------------------------------Pref-Wizard-----------------------------------------------------------*/
.content-pref-wizard { margin:20px auto; padding:10px 0 70px; width:960px; background:#ffffff; }
.content-pref-wizard h2 { padding:20px; text-align:center; color:#2ABB9B; }
.content-pref-wizard h2 small { font-size:12px; color:#58585a; }
.content-pref-wizard .inline-buttons { padding-top:10px; padding-right:67px; }
form table.recommendations { margin:0 auto; padding:20px; border-spacing:0; width:90%; font-size:14px; }
form table.recommendations td, table.recommendations th { padding:10px; padding-left:40px; color:#58585a; }
form table.recommendations tbody tr:nth-child(even) { background:#ECF0F1; }
form table.recommendations th { text-align:left; background-color:#2ABB9B; color:#ffffff; }
form table.recommendations tr td input { padding:2px 0; width:35px; font-size:16px; text-align:center; }

.recommended-courses { margin:20px; }
.recommended-courses .course { float:left; margin:20px 5px; padding:10px; width:150px; border:1px solid #ECF0F1; }
.recommended-courses .course a { color:#2ABB9B; }
    .recommended-courses .course a:hover { text-decoration:underline; }
.recommended-courses .course h6 { padding:10px 0; }
/*-----------------------------------------------------------End Pref-Wizard-----------------------------------------------------------*/
/*-----------------------------------------------------------Header-----------------------------------------------------------*/
header {
    margin:0; background:#00A8E7; height:90px; color:#ffffff;
}
.logo {
    padding-top:2%; padding-left:5%; float:left;
}
nav#header {
    padding-top:3%; padding-right:5%; float:right;
}
nav#header a {
    padding:12px 10px 0 10px; text-decoration:none; border-right:1px solid #ffffff; cursor:pointer;
}
nav#header a.no-border {
    border:none;
}
#notifications-list {
    position:absolute; width:220px; margin:65px 1050px; background:#FFFFFF;
    box-shadow:0px 1px 1px #000;
}
#notifications-list h4 { padding:10px 10px; border-bottom:1px solid #ECF0F1; }
#notifications-list ul { padding:0; list-style:none; }
#notifications-list ul li { padding:10px; font-size:12px; color:#58585a; border-bottom:1px solid #ECF0F1; }
#notifications-list ul li .notif-time { color:#58585a; opacity:0.6; }
#see-all-notif { margin-top:10px; width:220px; background:#00A8E7; }
#see-all-notif a { margin-left:55px; padding:10px 0; display:inline-block; text-align:center; font-size:12px; color:#FFFFFF; transition:all 0.5 ease-out; }
#see-all-notif a:hover { color:#58585a; }
#user-settings-list {
    position:absolute; width:220px; margin:65px 1000px; background:#FFFFFF;
    box-shadow:0px 1px 1px #000;
}
#user-settings-list ul { padding:5px 0 0 0; list-style:none; }
#user-settings-list ul li {
    padding:10px; font-size:14px; color:#58585a; border-bottom:1px solid #ECF0F1;
}
/*-----------------------------------------------------------End Header-----------------------------------------------------------*/
/*-----------------------------------------------------------Index-----------------------------------------------------------*/
header #login { padding-top:3%; padding-right:5%; float:right; }
form.login input[type=text], form.login input[type=password] { margin:0 5px;  padding:1px 2px; font-size:14px; width:35%; color:#58585a; border:2px solid #FFFFFF; transition:all 0.5s ease-out; }
form.login input[type=text]:focus, form.login input[type=password]:focus { box-shadow:0px 2px 3px #58585a; }
form.login input[type=submit] { margin-left:5px; padding:1px 2px; font-size:14px; font-weight:bold; background:#2ABB9B; border:1px solid #2ABB9B; color:#FFFFFF; transition:all 0.5s ease-out; position:relative; cursor:pointer; }
form.login input[type=submit]:hover { background:#ECF0F1; border:1px solid #ECF0F1; color:#00A8E7; }
#verify { padding-top:5px; }
input#login-checkbox { margin-left:5px; position:absolute; }
#verify label { margin-top:-2px; margin-left:20px; position:absolute; font-size:12px; color:#FFFFFF; cursor:pointer; }
#verify a { margin-top:-2px; padding-right:115px; float:right; color:#FFFFFF; font-size:12px; transition:all 0.5s ease-out; }
#verify a:hover { text-decoration:underline; }
#main-welcome {
    margin:10% 5%;
    width:40%;
    float:left;
}
#main-welcome h1 { padding-bottom:20px; font-size:36px; }
#main-welcome p { font-size:18px; line-height:40px; }
#signup { margin:-30% 5%; padding:20px 0; background:#FFFFFF; width:400px; float:right; }
#signup h2 { padding-bottom:20px; font-size:30px; text-align:center; border-bottom:1px solid #ECF0F1; }
#signup h2 small { font-size:16px; }
#signup form { margin:0 auto; text-align:center; padding:20px 0; }
#signup form label { font-size:16px; font-weight:bold; }
#signup form input[type=text], #signup form input[type=password] { margin:5px 0; padding:10px; color:#58585a; font-size:14px; border:1px solid #ECF0F1; width:300px; transition:all 0.5s ease-out; }
#signup form input[type=text].name { width:137px;}
#signup form input[type=text]:focus, #signup form input[type=password]:focus { box-shadow:0px 1px 1px #58585a; }
#signup form input[type=submit] { margin:5px 40px; padding:10px 0; float:left; font-size:14px; width:30%; font-weight:bold; background:#2ABB9B; border:1px solid #2ABB9B; color:#FFFFFF; transition:all 0.5s ease-out; position:relative; cursor:pointer; }
#signup form input[type=submit]:hover { box-shadow:0px 2px 0px #58585a; }
/*-----------------------------------------------------------End Index-----------------------------------------------------------*/
/*-----------------------------------------------------------Welcome-----------------------------------------------------------*/
#welcome {
    padding:100px 0;
}
#welcome h3, #welcome h5 {
    text-align:center;
}
#welcome .choose-category {
    margin:20px auto;
    width:50%;
    background:#FFFFFF;
}
#welcome .choose-category form { padding:0; width:100%; }
#welcome .choose-category .ac-custom ul, #welcome .choose-category .ac-custom ol { list-style:none; padding:0; margin:0 auto; }
#welcome .choose-category .ac-custom li { margin:0 auto; padding:30px 20px; position: relative; border-bottom:1px solid #ECF0F1; }
#welcome .choose-category .ac-custom li.no-border { border:none; }
#welcome .choose-category .ac-custom label { display:inline-block; position:relative; font-size:18px; padding:0 0 0 65px; color:#58585a; cursor:pointer; -webkit-transition:color 0.5s; transition:color 0.5s; }
#welcome .choose-category .ac-custom input[type="radio"], .ac-custom label::before { width:30px; height:30px; top:30%; margin-top:-25px; position:absolute; cursor:pointer; }
#welcome .choose-category .ac-custom input[type="radio"] { opacity:0; -webkit-appearance:none; display:inline-block; vertical-align:middle; z-index:100; }
#welcome .choose-category .ac-custom label::before { content: ''; border:4px solid #fff; -webkit-transition:opacity 0.5s; transition:opacity 0.5s; }
#welcome .choose-category .ac-radio label::before { border-radius:50%; }
/* General SVG and path styles */
#welcome .choose-category .ac-custom svg { position:absolute; width:30px; height:30px; top:50%; margin-top:-20px; left:5px; pointer-events:none; }
#welcome .choose-category .ac-custom svg path { stroke:#58585a; stroke-width:10px; stroke-linecap:round; stroke-linejoin:round; fill:none; }
/* Specific input, SVG and path styles */
/* Circle */
#welcome .choose-category .ac-circle input[type="radio"], #welcome .choose-category .ac-circle label::before { width:20px; height:20px; margin-top:-10px; left:10px; position:absolute; }
#welcome .choose-category .ac-circle label::before { background-color:#FFFFFF; border:5px solid #58585a; }
#welcome .choose-category .ac-circle svg { width:50px; height:50px; margin-top:-25px; left:20px; }
#welcome .choose-category .ac-circle svg path { stroke-width:5px; }

#welcome .welcome-video { margin:20px auto 0; width:50%; height:350px; background:#FFFFFF; }
#welcome #get-started { margin:0 auto 20px; width:50%; height:100px; background:#FFFFFF; border-top:2px solid #ECF0F1; }
#welcome #get-started h5 { padding:20px 0 0 20px; text-align:left; }
#welcome #get-started h3 { padding:10px 0 0 20px; text-align:left; }
#welcome #get-started button { margin:-27px 20px; padding:5px 40px; float:right; font-size:14px; background:#2ABB9B; color:#FFFFFF; border:1px solid #2ABB9B; cursor:pointer; transition:all 0.5s ease-out; opacity:0.8; }
    #welcome #get-started button:hover { opacity:1; }
/*-----------------------------------------------------------End Welcome-----------------------------------------------------------*/
/*-----------------------------------------------------------Side Navigations-----------------------------------------------------------*/
nav.side-navs { margin-top:18px; margin-right:5%; float:right; width:240px; background:#ffffff; }
nav.side-navs ul { list-style:none; }
nav.side-navs ul li { list-style:block; border-bottom:1px solid #ECF0F1; cursor:pointer; list-style:none; font-size:14px; }
nav.side-navs ul li.courses { font-weight:bold; }
nav.side-navs ul li.courses a { padding:12px 15px; }
    nav.side-navs ul li.courses a:hover { border-right:15px solid #2ABB9B; border-left:none; }
    nav.side-navs ul li.no-border { border:none; }
nav.side-navs ul li a { padding:12px 15px; display:block; text-decoration:none; color:#58585a; border-right:5px #2ABB9B solid; transition:all 0.5s ease-out; }
    nav.side-navs ul li a:hover { color:#2ABB9B; border-right:15px #2ABB9B solid; border-left:none; }
span.total-courses { margin:7px 180px; padding:5px; position:absolute; border-radius:5px; background:#ECF0F1; }
span.total-courses:hover { color:#FFFFFF; background:#2ABB9B; transition:all 0.5s ease-out; }

nav.side-navs ul li a.html { border-right:5px #19B5FE solid; transition:all 0.5s ease-out; }
    nav.side-navs ul li a.html:hover { border-right:15px #19B5FE solid; border-left:none; color:#19B5FE; }
nav.side-navs ul li a.css { border-right:5px #FCDC05 solid; transition:all 0.5s ease-out; }
    nav.side-navs ul li a.css:hover { border-right:15px #FCDC05 solid; border-left:none; color:#FCDC05; }
nav.side-navs ul li a.cpp { border-right:5px #67809F solid; transition:all 0.5s ease-out; }
    nav.side-navs ul li a.cpp:hover { border-right:15px #67809F solid; border-left:none; color:#67809F; }
nav.side-navs ul li a.php { border-right:5px #3A539B solid; transition:all 0.5s ease-out; }
    nav.side-navs ul li a.php:hover { border-right:15px #3A539B solid; border-left:none; color:#3A539B; }
nav.side-navs ul li a.javascript { border-right:5px #DDA423 solid; transition:all 0.5s ease-out; }
    nav.side-navs ul li a.javascript:hover { border-right:15px #DDA423 solid; border-left:none; color:#DDA423; }
nav.side-navs ul li a.jquery { border-right:5px #2AE7C3 solid; transition:all 0.5s ease-out; }
    nav.side-navs ul li a.jquery:hover { border-right:15px #2AE7C3 solid; border-left:none; color:#2AE7C3; }
nav.side-navs ul li a.asp { border-right:5px #C0392B solid; transition:all 0.5s ease-out; }
    nav.side-navs ul li a.asp:hover { border-right:15px #C0392B solid; border-left:none; color:#C0392B; }
nav.side-navs ul li a.android { border-right:5px #2ECC71 solid; transition:all 0.5s ease-out; }
    nav.side-navs ul li a.android:hover { border-right:15px #2ECC71 solid; border-left:none; color:#2ECC71; }
nav.side-navs ul li a.java { border-right:5px #F22613 solid; transition:all 0.5s ease-out; }
    nav.side-navs ul li a.java:hover { border-right:15px #F22613 solid; border-left:none; color:#F22613; }
nav.side-navs ul li a.wordpress { border-right:5px #6C7A89 solid; transition:all 0.5s ease-out; }
    nav.side-navs ul li a.wordpress:hover { border-right:15px #6C7A89 solid; border-left:none; color:#6C7A89; }
nav.side-navs ul li a.d-tools { border-right:5px #913D88 solid; transition:all 0.5s ease-out; }
    nav.side-navs ul li a.d-tools:hover { border-right:15px #913D88 solid; border-left:none; color:#913D88; }
nav.side-navs ul li a.business { border-right:5px #34495e solid; transition:all 0.5s ease-out; }
    nav.side-navs ul li a.business:hover { border-right:15px #34495e solid; border-left:none; color:#34495e; }
nav.side-navs ul li a.design { border-right:5px #e67e22 solid; transition:all 0.5s ease-out; }
    nav.side-navs ul li a.design:hover { border-right:15px #e67e22 solid; border-left:none; color:#e67e22; }
nav.side-navs ul li a.other { border-right:5px #915E25 solid; transition:all 0.5s ease-out; }
    nav.side-navs ul li a.other:hover { border-right:15px #915E25 solid; border-left:none; color:#915E25; }

nav.side-navs ul li a.active-notifications, aside nav ul li a.active-notifications:hover { color:#58585A; background:#FFFFFF; border-left:15px solid #58585A; }
/*-----------------------------------------------------------End Side Navigations-----------------------------------------------------------*/
/*-----------------------------------------------------------Home-----------------------------------------------------------*/
.track-progress{ padding:20px; }
.track-progress .progress-bar { margin:20px 0; width:80%; }
a.resume-track { padding:10px; display:inline-block; text-decoration:none; font-size:14px; background:#2ABB9B; color:#ffffff; transition:all 0.5s ease-out; }
.not-registered { margin:20px 0; text-align:center; }
.not-registered h3 { line-height:1.5; }
.not-registered a { color:#2ABB9B; transition:all 0.5s ease-out; }
.not-registered a:hover { opacity:0.5; }
.my-courses { margin:10px 0 20px 20px; padding:20px 0; float:left; border:1px solid #2ABB9B; border-top:5px solid #2ABB9B; width:450px; height:180px; opacity:1; }
    .my-courses .color-tag { margin-top:5px; float:right; }
    .my-courses h5.level { margin:10px 10px; padding:0; float:left; color:#58585A; opacity:0.7; }
    .my-courses h4.course-name { margin:0 10px; padding:0 0 10px 0; font-size:17px; float:left; color:#2ABB9B; }
    /*.my-courses p.points { margin:0 10px; padding:0 10px; font-size:14px; float:left; background:#ffffff; display:inline-block; }*/
    .my-courses p.points{ margin:0 10px; padding: 2px 9px; font-size:14px; float:left; background:#DFDCDC; border-radius: 15px; display:inline-block; }
    .my-courses h4.rating { margin:0 10px; padding:0; float:right; font-size:14px; }
    .my-courses img { margin:15px 125px 30px; }
    .my-courses h5 { margin:10px 0 0 0; padding:0 20px; color:#FFFFFF; float:right; }
    .my-courses .progress-bar-mini { margin:20px auto 0; width:90%;/* border:10px solid #58585a;*/ }
    .my-courses button.default { margin:25px 10px;  float:right; }
.popular-courses {
    border:1px solid #2ABB9B; border-top:5px solid #2ABB9B;
    width:450px;
    float:left;
    margin:20px 0 20px 20px;
}
.new-courses {
    border:1px solid #2ABB9B; border-top:5px solid #2ABB9B;
    width:450px;
    float:right;
    margin:20px 20px 20px 0;
}
ol.course-widget, ul.course-widget { padding:20px 35px; }
ol.course-widget li, ul.course-widget li { padding:10px; transition:all 0.5s ease-out; }
ol.course-widget li a, ul.course-widget li a { text-decoration:none; color:#58585a; font-size:16px; transition:all 0.5s ease-out; }
ol.course-widget li:hover, ol.course-widget li a:hover, ul.course-widget li:hover, ul.course-widget li a:hover { color:#2ABB9B; }
/*-----------------------------------------------------------End Home-----------------------------------------------------------*/
/*-----------------------------------------------------------Profile-----------------------------------------------------------*/
.profile-pic { padding:15px 20px; float:left; }
.profile-pic img { border:10px solid #ECF0F1; }
.user-info { padding:15px 20px; }
.user-info p { font-size:14px; }
.course-cols { padding:20px; }
.course-cols ul { list-style:none; font-size:14px; }
.course-cols ul.cols li { margin:30px 0; padding:5px; width:80px; }
.course-cols .col1 { margin-left:10px; float:left; }
.course-cols .col2 { margin-left:30px; float:left; }
.course-cols .col3 { margin-left:30px; float:left; }
.course-cols .col4 { margin-left:30px; float:left; }
    ul.cols li.html{ border-top:5px solid #19B5FE; border-left:1px solid #19B5FE; border-right:1px solid #19B5FE; }
    ul.cols li.php { border-top:5px solid #3A539B; border-left:1px solid #3A539B; border-right:1px solid #3A539B; }
    ul.cols li.asp { border-top:5px solid #C0392B; border-left:1px solid #C0392B; border-right:1px solid #C0392B; }
    ul.cols li.java { border-top:5px solid #F22613; border-left:1px solid #F22613; border-right:1px solid #F22613; }
    ul.cols li.android { border-top:5px solid #2ECC71; border-left:1px solid #2ECC71; border-right:1px solid #2ECC71; }
    ul.cols li.javascript { border-top:5px solid #DDA423; border-left:1px solid #DDA423; border-right:1px solid #DDA423; }
    ul.cols li.jquery { border-top:5px solid #2AE7C3; border-left:1px solid #2AE7C3; border-right:1px solid #2AE7C3; }
    ul.cols li.css { border-top:5px solid #FCDC05; border-left:1px solid #FCDC05; border-right:1px solid #FCDC05; }
    ul.cols li.cpp { border-top:5px solid #67809F; border-left:1px solid #67809F; border-right:1px solid #67809F; }
    ul.cols li.wordpress { border-top:5px solid #6C7A89; border-left:1px solid #6C7A89; border-right:1px solid #6C7A89; }
    ul.cols li.d-tools { border-top:5px solid #913D88; border-left:1px solid #913D88; border-right:1px solid #913D88; }
    ul.cols li.business { border-top:5px solid #34495e; border-left:1px solid #34495e; border-right:1px solid #34495e; }
    ul.cols li.design { border-top:5px solid #e67e22; border-left:1px solid #e67e22; border-right:1px solid #e67e22; }
    ul.cols li.other { border-top:5px solid #915E25; border-left:1px solid #915E25; border-right:1px solid #915E25; }
.info { padding:10px 20px; font-size:14px; }
.info img { margin:0; float:left; opacity:0.7; }
.info p { margin:0; padding-top:10px; }
.cols-categories { padding:20px 20px; }
ul.profile { padding-bottom:20px; list-style:none; font-size:16px; }
ul.profile li  { padding:20px 100px 20px 0; }
.cols-categories .col1 { float:left; }
.cols-categories .col2 { float:left; }
/*-----------------------------------------------------------End Profile-----------------------------------------------------------*/
/*-----------------------------------------------------------Notifications-----------------------------------------------------------*/
ul.notifications { padding:20px 20px 10px; list-style:none; }
ul.notifications li { padding:5px 0; font-size:14px; }
ul.notifications li.day { padding-bottom:15px; font-size:16px; font-weight:bold; }
/*-----------------------------------------------------------End Notifications-----------------------------------------------------------*/
/*-----------------------------------------------------------Leaderboard-----------------------------------------------------------*/
.top-students { margin:20px 2%; padding:0; border:1px solid #2ABB9B; border-top:5px solid #2ABB9B; width:96%; float:left; }
.top-students h3 { margin:0 auto 10px; padding:10px 0; color:#FFFFFF; text-align:center; background:#2ABB9B; width:35%; display:block; }
#trophies { margin-left:4%; padding:30px 0; }
.top-students .first-trophy, .top-students .second-trophy, .top-students .third-trophy { padding:20px 0; float:left; width:32%; }
.top-students .first-trophy { margin-top:-26px; }
.top-students .third-trophy { margin-top:26px; }
.top-students .content img { margin:0 auto -4px; width:100%; }
.content #block-a { margin:1px auto; width:25%; height:25px; background:#2ABB9B; }
.content #block-b { margin:1px auto; width:45%; height:25px; background:#2ABB9B; }
.content #block-c { margin:1px auto; width:65%; height:25px; background:#2ABB9B; }
    .content #block-c p { padding-top:7px; color:#FFFFFF; text-align:center; font-size:12px; }
.content #block-d { margin:1px auto; width:85%; height:25px; background:#2ABB9B; }
    .content #block-d a { padding-top:3px; text-align:center; display:block; text-decoration:none; font-weight:bold; color:#58585A; font-size:16px; transition:all 0.5s ease-out; }
        .content #block-d a:hover { color:#FFFFFF; }
.top-students .content p { padding:5px 0; color:#FFFFFF; text-align:center; font-size:14px; }

.my-courses h3, .popular-courses h3, .new-courses h3 { padding:20px 0 0 20px; color:#2ABB9B; }

table.leaderboard {
    *border-collapse:collapse; /* IE7 and lower */
    margin:0 auto;
    padding:40px 20px 40px;
    border-spacing:0;
    width:90%;
    font-size:14px;
}
table.leaderboard td, table.leaderboard th { padding:15px; padding-left:40px; color:#58585a; }
table.leaderboard tr td a { color:#58585a; font-weight:bold; transition:all 0.5s ease-out; }
table.leaderboard tr td a:hover { color:#FFFFFF; }
table.leaderboard tbody tr:nth-child(even) { background:#ECF0F1; }
table.leaderboard tbody tr { transition:all 0.5s ease-out; }
table.leaderboard tbody tr:hover { background:#2ABB9B; opacity:0.6; font-weight:bold; }
table.leaderboard th { text-align:left; background-color:#2ABB9B; font-size:18px; color:#FFFFFF; }
table.leaderboard tfoot td { border-bottom: 0; text-align:center; font-weight:bold; color:#ffffff; background:#2ABB9B; }
/*-----------------------------------------------------------End Leaderboard-----------------------------------------------------------*/
/*-----------------------------------------------------------Library-----------------------------------------------------------*/
.library-intro { padding:20px; }
.library-intro p { font-size:14px; }
.library-intro a { color:#2ABB9B; font-size:14px; }
nav.default { padding:10px 20px 0; }
nav.default a { list-style:inline-block; padding:10px 20px; transition:all 0.5s ease-out; }
nav.default a:hover { color:#2ABB9B; background:#ECF0F1; border-top:2px solid #2ABB9B; }
.split-library { padding:0 0 15px 0; }
.split-library .half-one { margin:20px 0 0 1.5%; width:47.5%; float:left; border:1px solid #2ABB9B; height:200px; border-top:5px solid #2ABB9B; }
.split-library .half-two { margin:20px 1.5% 0 0; width:47.5%; float:right; border:1px solid #2ABB9B; height:200px; border-top:5px solid #2ABB9B; }
.color-tag { margin-top:10px; padding:0; float:right; }
.course-info { padding:0; }
.course-info h5 { margin-top:15px; padding:0 10px; opacity:0.7; }
.course-info h4.course-name { padding:10px 10px 0; float:left; color:#2ABB9B; font-size:17px; }
.course-info h5.tiny-intro { margin:5px 0; padding:0 10px; opacity:1; }
.course-info p.points{ margin:20px 10px 0; padding:2px 10px; font-size:14px; float:left; background:#ECF0F1; border-radius:15px; display:inline-block; }
.rating { margin:40px 20px 0; padding:0; float:left; }
.rating p { font-size:14px; }
.learn-now { margin-top:18px; padding:0; float:right; }
.learn-now a.learn-now { padding:5px 15px; display:inline-block; width:80px; text-align:center; background:#2ABB9B; font-size:14px; color:#FFFFFF; }


.color-tag a.html, 
.color-tag a.css, 
.color-tag a.cpp,
.color-tag a.php,
.color-tag a.javascript,
.color-tag a.jquery, 
.color-tag a.asp, 
.color-tag a.android, 
.color-tag a.java, 
.color-tag a.wordpress, 
.color-tag a.d-tools, 
.color-tag a.business,
.color-tag a.design,
.color-tag a.other
{ padding:3px 15px; text-align:center; display:block; width:80px; font-size:12px; color:#ffffff; }

.color-tag a.html{ background:#19B5FE; }
.color-tag a.css { background:#FCDC05; } 
.color-tag a.cpp { background:#67809F; } 
.color-tag a.php { background:#3A539B; } 
.color-tag a.javascript { background:#DDA423; } 
.color-tag a.jquery { background:#2AE7C3; } 
.color-tag a.asp { background:#C0392B; } 
.color-tag a.android { background:#2ECC71; } 
.color-tag a.java { background:#F22613; } 
.color-tag a.wordpress { background:#6C7A89; } 
.color-tag a.d-tools { background:#913D88; } 
.color-tag a.business { background:#34495e; }
.color-tag a.design { background:#e67e22; }
.color-tag a.other { background:#915E25; }


/*------------Upcoming Courses------------*/
#roadmap { margin:20px 2.5%; }
#roadmap h2 { padding-bottom:10px; }
#roadmap p { padding:10px 0; line-height:1.5; font-size:13px; }
.upcoming-courses { margin:20px 2.5%; border:1px solid #2ABB9B; border-top:5px solid #2ABB9B; }
.upcoming-courses h5 { padding:20px 20px 0; opacity:0.7; }
.upcoming-courses h3 { padding:5px 20px 0; }
.upcoming-courses .color-tag { margin:-22px 0; float:right; }
.upcoming-courses p.developed-by { padding:5px 20px 10px; line-height:1.5; }
.upcoming-courses p { padding:10px 20px; line-height:1.5; font-size:13px; }
.upcoming-courses button { margin:10px 20px 20px; }
.upcoming-courses h4 { margin:10px 20px 20px; color:#2ABB9B; }
/*------------End Upcoming Courses------------*/


/*-----------------------------------------------------------End Library-----------------------------------------------------------*/
/*-----------------------------------------------------------Learning Paths-----------------------------------------------------------*/
ul.suggest-me-track { margin:20px auto 0; padding:0; width:18%; }
    ul.suggest-me-track li { margin:2px auto; padding:0; list-style:none; background:#2ABB9B; opacity:0.7; }
    ul.suggest-me-track li:hover { opacity:1; }
    ul.suggest-me-track li a { padding:20px 0 20px 70px; color:#FFFFFF; display:block; transition:all 0.5s ease-out; }
    span.suggest-me-track { margin:-10px 10px; position:absolute; }

#tracks .half-one { margin:20px 0 0 1.5%; padding:20px 0; width:47.5%; float:left; border:1px solid #2ABB9B; border-top:5px solid #2ABB9B; }
#tracks .half-two { margin:20px 1.5% 0 0; padding:20px 0; width:47.5%; float:right; border:1px solid #2ABB9B; border-top:5px solid #2ABB9B; }
#tracks .course-info { margin:0; }
#tracks .course-info h5 { margin:0; padding:0; padding:10px 20px; }
#tracks .course-info p.points { margin:-30px 20px; float:right; background:#ECF0F1; }
#tracks .course-info h2.course-name { padding:0 20px 0; color:#2ABB9B; }
#tracks .course-info h5.tiny-intro { padding:10px 20px; opacity:1; }
#tracks .course-info p.desc { padding:10px 20px; height:65px; line-height:1.5; overflow:hidden; font-size:13px; }
#tracks .buttons { margin:10px 20px; float:right; }

#course-progress-left { margin:20px; float:left; }
#course-progress-right { margin:20px; float:right; }
#track-description { margin:20px; }
.progress-bar { margin:0; padding:5px 5px; width:80%; }
.course-progress { margin:30px 20px 0; float:right; }
.course-progress button { padding:3px 20px; font-size:14px; background:#2ABB9B; color:#FFFFFF; border:1px solid #2ABB9B; transition:all 0.2s ease-out; opacity:0.8; }
    .course-progress button:hover { opacity:1; }
.content-lg #course-col-track { margin:20px 20px; }
.course-number-col { margin:85px 0 0 10px; float:left; background:#58585A; width:100px; height:100px; border-radius:50%; opacity:0.4; }
.course-number-col-completed { margin:85px 0 0 10px; float:left; background:#2ABB9B; width:100px; height:100px; border-radius:50%; opacity:1; }
    .course-number-col h2 { padding:25px 0; font-size:42px; text-align:center; color:#FFFFFF; }
.course-track-border { margin:130px 0; float:left; width:700px; height:10px; background:#58585A; opacity:0.4; }
.course-track-border-completed { margin:130px 0; float:left; width:700px; height:10px; background:#2ABB9B; opacity:1; }
.course-col { margin:20px 0; padding:25px 0; float:left; border-top:2px solid #2ABB9B; width:350px; height:180px; background:#ECF0F1; opacity:0.4; }
.course-col-completed { margin:20px 0; padding:25px 0; float:left; border-top:2px solid #2ABB9B; width:350px; height:180px; background:#ECF0F1; opacity:1; }
    .course-col h4.level { margin:10px; padding:0; float:left; font-size:14px; }
    .course-col h4.course-name { margin:10px; font-size:18px; float:left; color:#2ABB9B; }
    .course-col p.points { margin:10px; padding:0 10px; font-size:14px; float:left; background:#ffffff; display:inline-block; }
    .course-col h4.rating { margin:10px; padding:0; float:right; font-size:14px; }
    .course-col img { margin:15px 125px 30px; }
    .course-col h5 { margin:10px 0 0 0; padding:0 20px; color:#FFFFFF; float:right; }
        .course-col h5.html { background:#19B5FE; }
        .course-col h5.css { background:#FCDC05; }
        .course-col h5.cpp { background:#67809F; }
        .course-col h5.php { background:#3A539B; }
        .course-col h5.javascript{ background:#DDA423; }
        .course-col h5.jquery { background:#2AE7C3; }
        .course-col h5.asp { background:#C0392B; }
        .course-col h5.android { background:#2ECC71; }
        .course-col h5.java{ background:#F22613; }
        .course-col h5.wordpress { background:#6C7A89; }
        .course-col h5.d-tools { background:#913D88; }
        .course-col h5.business { background:#34495e; }
        .course-col h5.design { background:#E67E22; }
        .course-col h5.other { background:#915E25; }
    .progress-bar-mini { /*margin:30px auto 10px; width:80%; border:10px solid #58585a;*/ }
/*-----------------------------------------------------------End Learning Paths-----------------------------------------------------------*/
/*-----------------------------------------------------------Course Introduction-----------------------------------------------------------*/
.content-lg h2.course-heading { padding:10px 20px;}
.content-lg ul.course-desc { float:left;padding:5px 20px; list-style:none; }
    .content-lg ul.course-desc li { padding-right:15px; display:inline; }
    .content-lg ul.course-desc li span { vertical-align:middle; padding:0 5px; }
.content-lg p.developed-by { padding:0 20px; float:right; padding:14px; }
.content-lg p.course-desc { float:left; padding:5px 20px; width:70%; }
form.enroll-me { padding:0 20px 10px; float:right; position:relative; text-align:center; }
form.enroll-me input[type=submit] { padding:5px 50px; font-size:16px; background:#2ABB9B; border:1px solid #2ABB9B; color:#FFFFFF; transition:all 0.5s ease-out; position:relative; cursor:pointer; }
form.enroll-me input[type=submit]:hover { background:#ECF0F1; border:1px solid #2ABB9B; color:#2ABB9B; }

.tabs { position:relative; overflow:hidden; margin:0 auto; width:80%; font-size:18px; }
.tabs nav { text-align:center; }
.tabs nav ul { position:relative; display:-ms-flexbox; display:-webkit-flex; display:-moz-flex; display:-ms-flex; display:flex; margin:0 auto; padding:0; list-style:none;
    -ms-box-orient:horizontal; -ms-box-pack:center; -webkit-flex-flow:row wrap; -moz-flex-flow:row wrap; -ms-flex-flow:row wrap; flex-flow:row wrap; -webkit-justify-content:center; -moz-justify-content:center; -ms-justify-content:center; justify-content:center; }
.tabs nav ul li { position:relative; z-index:1; display:block; margin:0; text-align:center; -webkit-flex:1; -moz-flex:1; -ms-flex:1; flex:1; }
.tabs nav a { position:relative; display:block; font-size:18px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; line-height:2.5; color:#58585a; }
.tabs nav a span { vertical-align:middle; }
.tabs nav li.tab-current a { color:#2ABB9B; background:#FFFFFF; }
.tabs nav a:focus { outline:none; }
.tabs-style-underline nav { background:#FFFFFF; border-bottom:1px solid #ECF0F1; }
.tabs-style-underline nav a { padding:0.25em 0 0.5em; border-left:1px solid #ECF0F1; -webkit-transition:color 0.5s; transition:color 0.5s; }
.tabs-style-underline nav li:last-child a { border-right:1px solid #ECF0F1; }
.tabs-style-underline nav li a::after { position:absolute; bottom:0; left:0; width:100%; height:6px; background:#2ABB9B; content:''; -webkit-transition:-webkit-transform 0.5s; transition:transform 0.5s; -webkit-transform:translate3d(0,150%,0); transform:translate3d(0,150%,0); }
.tabs-style-underline nav li.tab-current a::after { -webkit-transform:translate3d(0,0,0); transform:translate3d(0,0,0); }

.content-wrap { position:relative; }
.content-wrap section { display:none; margin:0 auto; padding:1em; }
.content-wrap section.content-current { display:block; }
.content-wrap #section-underline-1 img { margin:10px auto; padding:0; }
.content-wrap #section-underline-1 p.video-desc { margin:10px 0; font-size:14px; text-align:justify; border:none }
.content-wrap #section-underline-1 h4 { margin:10px 0; }
.content-wrap #section-underline-1 ul, .content-wrap #section-underline-1 p { margin:10px 0; padding:0 0 10px 0; line-height:1.5em; list-style:none; border-bottom:1px solid #ECF0F1; font-size:14px; }
.content-wrap #section-underline-1 ul li { margin:10px 0; padding:5px 0; }
.content-wrap #section-underline-2 h5 { margin:0px 0 0; padding:10px 0; list-style:none; font-size:14px; }
.content-wrap #section-underline-2 p, .content-wrap #section-underline-3 p { line-height:1.5em; font-size:14px; }
.content-wrap #section-underline-3 h3#course-content {padding: 10px 20px; display: inline; }
.content-wrap #section-underline-3 a#course-content { margin:0; padding:10px 20px 6px; display:block; background:#2ABB9B; opacity:0.5; transition: all 0.5s ease-out; }
.content-wrap #section-underline-3 a#course-content:hover { opacity:1; }
.content-wrap #section-underline-3 ul.course-content { padding:10px 30px; list-style:none; }
    .content-wrap #section-underline-3 ul.course-content li { padding:10px 0; border-bottom:1px solid #ECF0F1; }
    .content-wrap #section-underline-3 ul.course-content li span { margin:0 0 0 -40px; position:absolute; opacity:0.5; cursor:pointer; transition: all 0.5s ease-out; }
    .content-wrap #section-underline-3 ul.course-content li span:hover { opacity:0.8; }
    .content-wrap #section-underline-3 ul.course-content li a { padding:0 50px; color:#58585A; transition: all 0.5s ease-out; }
    .content-wrap #section-underline-3 ul.course-content li a:hover { color:#2ABB9B; }
h3.widget-similar-courses { margin:20px 0; padding:0 0 10px 60px; width:100%; border-bottom:1px solid #ECF0F1; }
.widget-similar-courses { margin:0 auto; padding:10px 0 20px 0; width:90%; border-bottom:1px solid #ECF0F1; }
.widget-similar-courses img { float:left; padding-left:20px; }
.widget-similar-courses h4, .widget-similar-courses p { padding-left:240px; }
.widget-similar-courses ul.course-desc { padding-left:220px; padding:50px 0 0 20px; list-style:none; }
    .widget-similar-courses ul.course-desc li { display:inline; }
    .widget-similar-courses ul.course-desc li span { margin:0; padding:0; position:relative; }
/*-----------------------------------------------------------End Course Introduction-----------------------------------------------------------*/
/*-----------------------------------------------------------Course Playback-----------------------------------------------------------*/
.widgets { float:right; margin-right:5%; }
.widgets .widget-video-transition { margin-top:18px; padding:10px 0; width:240px; background:#ffffff; }
.widgets .widget-video-transition h6 { padding:10px 10px 0; }
.widgets .widget-video-transition h4 { padding:5px 10px 0; }
.widgets .widget-video-transition p { padding:5px 10px 0; font-size:14px; }
/*------ TO BE REMOVED -----*/
/*---*/.widgets .widget-video-transition ul { margin:0 auto; padding:10px 0 40px 0; list-style:none; }
/*---*/.widgets .widget-video-transition ul li { padding:5px 0; display:inline-block; border-bottom:1px solid #ECF0F1; text-align:center; cursor:pointer; font-size:14px; background:#2ABB9B; transition:all 0.2s ease-out; opacity:0.8; }
/*---*/    .widgets .widget-video-transition ul li:hover { opacity:1; }
/*---*/.widgets .widget-video-transition ul li  a { color:#FFFFFF; transition:all 0.5s ease-out; }
/*---*/.widgets .widget-video-transition ul li.previous { width:35%; float:left; margin-left:14%; }
/*---*/.widgets .widget-video-transition ul li.next { width:35%; float:right; margin-right:14%; }
/*------ TO BE REMOVED -----*/
.widgets .widget-video-transition p.buttons { text-align:center; }
.widgets .widget-video-transition p button { margin:20px 0; padding:5px 0; width:45%; font-size:16px; background:#2ABB9B; color:#FFFFFF; border:1px solid #2ABB9B; cursor:pointer; transition:all 0.5s ease-out; }
    .widgets .widget-video-transition p button:hover { background:#ECF0F1; color:#2ABB9B; }

.widgets .widget-course-progress { margin-top:18px; padding:10px 0 20px; width:240px; background:#ffffff; }
.widgets .widget-course-progress h4 { margin:1px 8px 11px;}
.widgets .widget-course-progress .progress-bar { margin:0 auto; padding:5px 15px; width:80%; border-bottom:10px solid #58585a; }

.widgets .widget-take-quiz, .widgets .widget-course-summary, .widgets .widget-project-files { margin-top:18px; padding:10px 0 20px; width:240px; background:#ffffff; }
.widgets .widget-take-quiz h4, .widgets .widget-course-summary h4, .widgets .widget-project-files h4 { margin:1px 8px 3px; }
.widgets .widget-take-quiz ul, .widgets .widget-course-summary ul, .widgets .widget-project-files ul { margin:0 10px; padding:5px 0; }
    
    .widgets .widget-take-quiz ul li { margin:2px 0; padding:10px 0; list-style:none; background:#2ABB9B; opacity:0.8; }
         .widgets .widget-take-quiz ul li:hover { opacity:1; }
        .widgets .widget-take-quiz ul li a { padding-left:90px; color:#FFFFFF;  display:block; transition:all 0.5s ease-out; }
        span.take-quiz { margin:-7px 55px; position:absolute; }
    .widgets .widget-course-summary ul li { margin:2px 0; padding:10px 0; list-style:none; background:#2ABB9B; opacity:0.8; }
        .widgets .widget-course-summary ul li:hover { opacity:1; }
        .widgets .widget-course-summary ul li a { padding-left:55px; color:#FFFFFF;  display:block; transition:all 0.5s ease-out; }
        span.summary { margin:-1px 25px; position:absolute; }
    .widgets .widget-project-files ul li { margin:2px 0; padding:10px 0; list-style:none; background:#2ABB9B; opacity:0.8; }
        .widgets .widget-project-files ul li:hover { opacity:1; }
        .widgets .widget-project-files ul li a { padding-left:55px; color:#FFFFFF;  display:block; transition:all 0.5s ease-out; }
        span.download { margin:-1px 25px; position:absolute; }

.widgets .widget-facebook-recommendations { margin-top:18px; padding:10px 0 20px; width:240px; background:#ffffff; }
.widgets .widget-facebook-recommendations h4, p.fb-feeds { padding:5px 10px; border-bottom:1px solid #ECF0F1; }
    .widgets .widget-facebook-recommendations p.fb-feeds { padding:15px 5px 5px; line-height:1.5; opacity:0.8; }

.widget-video-player { margin:0 auto; width:100%; height:500px; }
.widget-video-player video { margin:0 auto; padding:0; }

.content-md h3.course-title { margin:0 2.5%; padding:20px 0; }
.content-md .teacher-notes { margin:40px 2.5% 10px; }
.content-md .teacher-notes ul { padding:5px 0; }
    .content-md .teacher-notes ul li { margin:2px 0; padding:5px 20px; list-style:none; background:#2ABB9B; opacity:0.8; }
    .content-md .teacher-notes ul li:hover { opacity:1; }
    .content-md .teacher-notes ul li a { padding:0 30px; color:#FFFFFF; display:block; transition:all 0.5s ease-out; }
        span.notes { margin:-2px 5px; position:absolute; }

.content-md .widget-facebook-commenter { margin:0 2.5%; }
.content-md .widget-facebook-commenter ul { padding:5px 20px; }
.content-md .widget-facebook-commenter ul li { margin:2px 0; padding:5px 0; list-style:decimal; font-size:14px; }
/*-----------------------------------------------------------End Course Playback-----------------------------------------------------------*/
/*-----------------------------------------------------------Quiz-----------------------------------------------------------*/
.content-md h5.quiz { margin:0 2.5%; padding:5px 0 10px; }
.content-md h3.quiz-question { margin:0 2.5%; padding:5px 0 10px; border-bottom:1px solid #ECF0F1; }
.widgets .widget-quiz-remarks { margin-top:18px; padding:10px 0; width:240px; background:#ffffff; }
.widgets .widget-quiz-remarks ul { padding:20px 0 95px 0; list-style:none; }
.widgets .widget-quiz-remarks ul li { padding:20px 0; display:inline-block; border-bottom:1px solid #ECF0F1; text-align:center; cursor:pointer; font-size:14px; background:#2ABB9B; transition:all 0.5s ease-out; }
    .widgets .widget-quiz-remarks ul li  a { color:#FFFFFF; font-size:16px; transition:all 0.5s ease-out; }
    .widgets .widget-quiz-remarks ul li:first-child { width:35%; font-weight:bold; float:left; margin-left:14%; }
    .widgets .widget-quiz-remarks ul li:last-child { width:35%; float:right; margin-right:14%; }
.widgets .widget-quiz-remarks p.info { margin:0 auto; padding:0; width:80%; text-align:justify; }
ul.quiz-options { margin:0; padding:20px 40px;}
    ul.quiz-options li { padding:25px 0; list-style:none; }
    ul.quiz-options input { margin-right:10px; }

/*--------------Plugin------------------*/
.ac-custom ul { list-style:none; padding:0; margin:30px 60px; }
.ac-custom li { margin:0 auto; padding:25px 0; position:relative; }
.ac-custom label { display:inline-block; position:relative; font-size:16px; padding:0 0 0 80px; vertical-align:top; color:#58585a; cursor:pointer; -webkit-transition:color 0.5s; transition:color 0.5s; }
.ac-custom input[type="checkbox"], .ac-custom input[type="radio"], .ac-custom label::before { width:50px; height:50px; top:50%; left:0; margin-top:-25px; position:absolute; cursor:pointer; }
.ac-custom input[type="checkbox"], .ac-custom input[type="radio"] { opacity:0; -webkit-appearance:none; display:inline-block; vertical-align:middle; z-index:100; }
.ac-custom input[type="checkbox"], .ac-custom input[type="radio"] { opacity:0; -webkit-appearance:none; display:inline-block; vertical-align:middle; z-index:100; }
.ac-custom label::before { content:''; border:4px solid #FFFFFF; -webkit-transition:opacity 0.5s; transition:opacity 0.5s; }
.ac-radio label::before { border-radius:50%; }
.ac-custom input[type="checkbox"]:checked + label, .ac-custom input[type="radio"]:checked + label { color:#2ABB9B; }
.ac-custom input[type="checkbox"]:checked + label::before, .ac-custom input[type="radio"]:checked + label::before { opacity:0.8; }
/* General SVG and path styles */
.ac-custom svg { position:absolute; width:40px; height:40px; top:50%; margin-top:-20px; left:5px; pointer-events:none; }
.ac-custom svg path { stroke:#2ABB9B; stroke-width:13px; stroke-linecap:round; stroke-linejoin:round; fill:none; }
/* Specific input, SVG and path styles */
/* Circle */
.ac-circle input[type="checkbox"], .ac-circle input[type="radio"], .ac-circle label::before { width:30px; height:30px; margin-top:-15px; left:10px; position:absolute; }
.ac-circle label::before { background-color:#2ABB9B; border:none; }
.ac-circle svg { width:50px; height:50px; margin-top:-25px; left:0px; }
.ac-circle svg path { stroke-width:5px; }

/*--------------End Plugin------------------*/

form.quiz-answer { padding:0 20px 10px; float:right; position:relative; text-align:center; }
form.quiz-answer input[type=submit] { padding:5px 50px; font-size:16px; background:#2ABB9B; border:1px solid #2ABB9B; color:#FFFFFF; transition:all 0.5s ease-out; position:relative; cursor:pointer; }
form.quiz-answer input[type=submit]:hover { background:#ECF0F1; border:1px solid #2ABB9B; color:#2ABB9B; }

#quiz-result { margin:80px auto; padding:20px; width:500px; background:url(../graphics/quiz-result-bg.png); }
#quiz-result h1 { margin:60px 200px; padding:50px 0; position:absolute; text-align:center; color:#F06060; font-size:36px; }
#quiz-result #points { margin:10px auto; width:150px; height:150px; background:#FFFFFF; border:80px solid #F06060; border-radius:50%; }
#quiz-result h3 { margin:20px 0 10px; text-align:center; }
#quiz-result p { margin:0 auto; line-height:1.5; font-size:14px; text-align:center; width:70%; }
#quiz-result button { margin:20px 0 0; padding:5px 40px; float:right; font-size:16px; background:#2ABB9B; color:#FFFFFF; border:1px solid #2ABB9B; cursor:pointer; transition:all 0.5s ease-out; opacity:0.8; }
    #quiz-result button:hover { opacity:1; }

#main-quiz-result { margin:20px 2.5%; }
#main-quiz-result .col-left { margin:10px 20px; float:left; width:150px; }
#main-quiz-result .col-right { margin:10px 20px; float:left; }
#main-quiz-result h2#pass { padding:20px; font-size:46px; color:#2ABB9B; }
#main-quiz-result h2#fail { padding:20px; font-size:46px; color:#D72020; }
#main-quiz-result p { line-height:2; }
#main-quiz-result p label { font-size:16px; }
#main-quiz-result p button { margin:20px; padding:5px 40px; font-size:16px; background:#2ABB9B; color:#FFFFFF; border:1px solid #2ABB9B; cursor:pointer; transition:all 0.5s ease-out; }
    #main-quiz-result p button:hover { background:#ECF0F1; color:#2ABB9B; }
/*-----------------------------------------------------------End Quiz-----------------------------------------------------------*/
/*-----------------------------------------------------------Technology Feeds-----------------------------------------------------------*/
.feeds-col1 { margin:10px 0 10px 2.2%; float:left; width:22%; border:1px solid #ECF0F1; }
.feeds-col2 { margin:10px 0 10px 2.2%; float:left; width:22%; border:1px solid #ECF0F1; }
.feeds-col3 { margin:10px 0 10px 2.2%; float:left; width:22%; border:1px solid #ECF0F1; }
.feeds-col4 { margin:10px 0 10px 2.2%; float:left; width:22%; border:1px solid #ECF0F1; }
h3.h-feeds { padding:10px 0; text-align:center; background:#ECF0F1; }
p.p-feeds { padding:10px; text-align:justify; }

/*-----------------------------------------------------------End Technology Feeds-----------------------------------------------------------*/
/*-----------------------------------------------------------Add Course-----------------------------------------------------------*/
.onoffswitch { position:relative; width:100px; -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none; }
    .onoffswitch-checkbox { display:none; }
    .onoffswitch-label { display:block; overflow:hidden; cursor:pointer; border:1px solid #2ABB9B; border-radius:0px; }
    .onoffswitch-inner { display:block; width:200%; margin-left:-100%; -moz-transition:margin 0.5s ease-in 0s; -webkit-transition:margin 0.5s ease-in 0s; -o-transition:margin 0.5s ease-in 0s; transition:margin 0.5s ease-in 0s; }
        .onoffswitch-inner:before, .onoffswitch-inner:after { display:block; float:left; width:50%; height:30px; padding:0; line-height:30px; font-size:14px; color:white; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; }
        .onoffswitch-inner:before { content:"Show"; padding-left:20px; background-color:#2ABB9B; color:#FFFFFF; text-align:left; }
        .onoffswitch-inner:after { content:"Hide"; padding-right:25px; background-color:#ECF0F1; color:#2ABB9B; text-align:right; }
    .onoffswitch-switch { display:block; width:10px; margin:10px; background:#FFFFFF; border:1px solid #2ABB9B; border-radius:0px; position:absolute; top:0; bottom:0; right:67px; -moz-transition:all 0.5s ease-in 0s; -webkit-transition:all 0.5s ease-in 0s; -o-transition:all 0.5s ease-in 0s; transition:all 0.5s ease-in 0s; }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner { margin-left:0; }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch { right:0px; }
.save-unsave { margin-right:310px; float:right; }
    .save-unsave .inline-buttons a { width:80px; }

form.add-course table.add-course { margin:20px auto; font-size:16px; color:#58585a; text-align:left; }
form.add-course table.add-course tr td { margin:0 auto; padding:12px 15px; }
form.add-course table.add-course tr td input[type=text], form.add-course table.add-course tr td input[type=textarea] { padding:5px; width:600px; font-size:16px; }
form.add-course table.add-course tr td input.answer { margin:0 10px 0 0; width:500px; color:#58585a; }
form.add-course table.add-course tr td textarea { padding:5px; width:602.5px; font-size:16px; }
form.add-course table.add-course tr td select { padding:5px; width:613.5px; font-size:16px; color:#58585a; }
form.add-course input[type=submit], form.add-course input[type=reset] { padding:5px 50px; font-size:16px; background:#2ABB9B; border:1px solid #2ABB9B; color:#FFFFFF; transition:all 0.5s ease-out; position:relative; cursor:pointer; }
form.add-course input[type=submit]:hover, form.add-course input[type=reset]:hover { background:#ECF0F1; border:1px solid #2ABB9B; color:#2ABB9B; }

/*-----------------------------------------------------------End Add Course-----------------------------------------------------------*/
/*-----------------------------------------------------------Account Settings-----------------------------------------------------------*/
table.settings { margin-left:20px; font-size:16px; color:#58585a; text-align:left; }
table.settings tr th { padding:20px 0; }
table.settings tr td { padding-left:80px; }

form table.editform { margin:20px auto; font-size:16px; color:#58585a; text-align:left; }
form table.editform tr td { margin:0 auto; padding:12px 15px; }
form table.editform tr td input[type=text], form table.editform tr td input[type=textarea] { padding:5px; width:600px; font-size:16px; }
    input[type=text]#teacher-notes { margin:5px 0; padding:5px; width:30%; font-size:16px; }
form table.editform tr td textarea { padding:5px; width:602.5px; font-size:16px; }
form table.editform tr td select { padding:5px; width:613.5px; font-size:16px; color:#58585a; }
    form table.editform tr td select.course-pool-left { float:left; font-size:14px; height:250px; width:45%; }
    form table.editform tr td select.course-pool-right { float:left; font-size:14px; margin:-67px 0 0 32px; height:250px; width:45%; }
    button.course-pool { margin:0; padding:5px 10px; float:left; }
form table.editform input[type=submit], form table.editform input[type=reset] { padding:5px 50px; font-size:16px; background:#2ABB9B; border:1px solid #2ABB9B; color:#FFFFFF; transition:all 0.5s ease-out; position:relative; cursor:pointer; }
form table.editform input[type=submit]:hover, form table.editform input[type=reset]:hover { background:#ECF0F1; border:1px solid #2ABB9B; color:#2ABB9B; }


/*------------Privacy Settings------------*/
form#privacy-settings { margin:20px 2.5%;  }
form#privacy-settings input[type=checkbox] { margin-right:10px; display:inline-block; color:#58585A; cursor:pointer; }
form#privacy-settings label { font-size:14px; opacity:0.7; }
form#privacy-settings input[type=submit] { padding:8px 40px; font-size:16px; background:#2ABB9B; border:1px solid #2ABB9B; color:#FFFFFF; transition:all 0.5s ease-out; position:relative; cursor:pointer; }
form#privacy-settings input[type=submit]:hover { background:#ECF0F1; border:1px solid #2ABB9B; color:#2ABB9B; }
/*------------End Privacy Settings------------*/

/*-----------------------------------------------------------End Account Settings-----------------------------------------------------------*/
/*-----------------------------------------------------------Footer-----------------------------------------------------------*/
footer {
    margin:30px auto 0; background:#00A8E7; color:#ffffff;
}
.about h3, .learn h3, .social-media h3, .subscribe h3 { color:#ffffff; }
.about ul li a, .learn ul li a, .social-media ul li a { color:#ffffff; text-decoration:none; }
.about { padding-top:3%; padding-left:5%; float:left; }
.about ul { padding:20px 0; list-style:none; font-size:14px; }
.about ul li { padding:5px 0; }
.learn { padding-top:3%; padding-left:17%; float:left; }
.learn ul { padding:20px 0; list-style:none; font-size:14px; }
.learn ul li { padding:5px 0; }
.social-media { padding-top:3%; padding-left:17%; float:left; }
.social-media ul { padding:20px 0; list-style:none; font-size:14px; }
.social-media ul li { padding:5px 0; }
.subscribe { padding-top:3%; float:right; }
.subscribe p { padding:20px 0; font-size:14px; color:#ffffff; width:80%; }
.subscribe form input[type=text] { font-size:14px; width:50%; padding:5px; border:3px solid #ECF0F1; transition:all 0.5s ease-out; color:#2ABB9B; }
.subscribe form input[type=text]:hover { border-color:#00A8E7; }
.subscribe form input[type=text]:focus { border-color:#2ABB9B; outline:none; /* Remove Chrome's outline */ }
.subscribe form input[type=submit] { padding:5px; font-size:14px; font-weight:bold; background:#2ABB9B; border:2px solid #2ABB9B; color:#FFFFFF; transition:all 0.5s ease-out; position:relative; cursor:pointer; }
.subscribe form input[type=submit]:hover { background:#ECF0F1; border:2px solid #ECF0F1; color:#00A8E7; }
.copyrights { padding:1% 0; padding-left:5%; }
.copyrights p { font-size:14px; color:#ffffff; }
/*-----------------------------------------------------------End Footer-----------------------------------------------------------*/
/*-----------------------------------------------------------404 Page-----------------------------------------------------------*/

/*-----------------------------------------------------------END 404 Page-----------------------------------------------------------*/