/*  -- THEME COLORS

->COLOR TAGS
html        blue:           #19B5FE
css         voilet:         #34495e
cpp         darkgrey:       #2c3e50
php         lightblue:      #3498db
javascript  orange:         #d35400
jquery      pheekablue      #03C9A9
asp         lightred        #F5D76E
android     green           #2ECC71
java        red             #c0392b
wordpress   silver          #95a5a6
d-tools     green           #1abc9c
business    win8green       #26A65B
design      darkoragne      #e67e22
other       greyishblue     #aea8d3
*/

* { margin:0; padding:0; }
body { margin:0 auto; padding:0; background:#ECF0F1; font-family:"Trebuchet MS", Helvetica, sans-serif; max-width:1366px; }
input, select, option, textarea { font-family:"Trebuchet MS", Helvetica, sans-serif; }
.clear { clear:both; }
.line-border { border:1px solid #ECF0F1; }
a { text-decoration:none; color:#58585a; }
a.facebook { padding:2px 10px; background:#3b5998; }
a.twitter { padding:2px 10px; background:#55acee; }
a.google { padding:2px 10px; background:#d95333; }
a.linkedin { padding:2px 10px; background:#1d87be; }
ul li { color:#58585a; }
h1, h2, h3, h4, h5, h6, p { color:#58585a; }
.title { padding:15px 20px; }
.breadcrumb { margin-top:2%; margin-left:5%; }
.breadcrumb h2 { color:#2ABB9B; }
.notification-badge { display:block; position:absolute; margin:-40px 83px; padding:0 5px; font-size:12px; color:#00A8E7; background:#FFFFFF; }
.inline-buttons { padding:20px; float:left; }
.inline-buttons a { display:inline-block; padding:5px 10px; background:#2ABB9B; font-size:14px; color:#ffffff; }

.content-md {
    margin-top:18px;
    margin-left:5%;
    padding:10px 0;
    float:left;
    width:960px;
    background:#ffffff;
}
.content-lg {
    margin-top:20px;
    margin-left:5%;
    padding:0 0 30px;
    float:left;
    width:90%;
    background:#ffffff;
}

/*-----------------------------------------------------------Pref-Wizard-----------------------------------------------------------*/
.content-pref-wizard { margin:20px auto; padding:10px 0 70px; width:960px; background:#ffffff; }
.content-pref-wizard h2 { padding:20px; text-align:center; color:#2ABB9B; }
.content-pref-wizard h2 small { font-size:12px; color:#58585a; }
.content-pref-wizard .inline-buttons { padding-top:10px; padding-right:67px; }
form table.recommendations { margin:0 auto; padding:20px; border-spacing:0; width:90%; font-size:14px; }
form table.recommendations td, table.recommendations th { padding:10px; padding-left:40px; color:#58585a; }
form table.recommendations tbody tr:nth-child(even) { background:#ECF0F1; }
form table.recommendations th { text-align:left; background-color:#2ABB9B; color:#ffffff; }
form table.recommendations tr td input { padding:2px 0; width:35px; font-size:16px; text-align:center; }

.recommended-courses { margin:20px; }
.recommended-courses .course { float:left; margin:20px 5px; padding:10px; width:150px; border:1px solid #ECF0F1; }
.recommended-courses .course a { color:#2ABB9B; }
	.recommended-courses .course a:hover { text-decoration:underline; }
.recommended-courses .course h6 { padding:10px 0; }
/*-----------------------------------------------------------End Pref-Wizard-----------------------------------------------------------*/
/*-----------------------------------------------------------Header-----------------------------------------------------------*/
header {
    margin:0; background:#00A8E7; height:90px; color:#ffffff;
}
.logo {
    padding-top:2%; padding-left:5%; float:left;
}
nav#header {
    padding-top:3%; padding-right:5%; float:right;
}
nav#header a {
    padding:12px 10px 0 10px; text-decoration:none; border-right:1px solid #ffffff; cursor:pointer;
}
nav#header a.no-border {
    border:none;
}
#notifications-list {
    position:absolute; width:220px; margin:65px 1050px; background:#FFFFFF;
    box-shadow:0px 1px 1px #000;
}
#notifications-list h4 { padding:10px 10px; border-bottom:1px solid #ECF0F1; }
#notifications-list ul { padding:0; list-style:none; }
#notifications-list ul li { padding:10px; font-size:12px; color:#58585a; border-bottom:1px solid #ECF0F1; }
#notifications-list ul li .notif-time { color:#58585a; opacity:0.6; }
#see-all-notif { margin-top:10px; width:220px; background:#00A8E7; }
#see-all-notif a { margin-left:55px; padding:10px 0; display:inline-block; text-align:center; font-size:12px; color:#FFFFFF; transition:all 0.5 ease-out; }
#see-all-notif a:hover { color:#58585a; }
#user-settings-list {
    position:absolute; width:220px; margin:65px 1000px; background:#FFFFFF;
    box-shadow:0px 1px 1px #000;
}
#user-settings-list ul { padding:5px 0 0 0; list-style:none; }
#user-settings-list ul li {
    padding:10px; font-size:14px; color:#58585a; border-bottom:1px solid #ECF0F1;
}
/*-----------------------------------------------------------End Header-----------------------------------------------------------*/
/*-----------------------------------------------------------Index-----------------------------------------------------------*/
header #login { padding-top:3%; padding-right:5%; float:right; }
form.login input[type=text], form.login input[type=password] { margin:0 5px;  padding:1px 2px; font-size:14px; width:35%; color:#58585a; border:2px solid #FFFFFF; transition:all 0.5s ease-out; }
form.login input[type=text]:focus, form.login input[type=password]:focus { box-shadow:0px 2px 3px #58585a; }
form.login input[type=submit] { margin-left:5px; padding:1px 2px; font-size:14px; font-weight:bold; background:#2ABB9B; border:1px solid #2ABB9B; color:#FFFFFF; transition:all 0.5s ease-out; position:relative; cursor:pointer; }
form.login input[type=submit]:hover { background:#ECF0F1; border:1px solid #ECF0F1; color:#00A8E7; }
#verify { padding-top:5px; }
input#login-checkbox { margin-left:5px; position:absolute; }
#verify label { margin-top:-2px; margin-left:20px; position:absolute; font-size:12px; color:#FFFFFF; cursor:pointer; }
#verify a { margin-top:-2px; padding-right:115px; float:right; color:#FFFFFF; font-size:12px; transition:all 0.5s ease-out; }
#verify a:hover { text-decoration:underline; }
#main-welcome {
    margin:10% 5%;
    width:40%;
    float:left;
}
#main-welcome h1 { padding-bottom:20px; font-size:36px; }
#main-welcome p { font-size:18px; line-height:40px; }
#signup { margin:-30% 5%; padding:20px 0; background:#FFFFFF; width:400px; float:right; }
#signup h2 { padding-bottom:20px; font-size:30px; text-align:center; border-bottom:1px solid #ECF0F1; }
#signup h2 small { font-size:16px; }
#signup form { margin:0 auto; text-align:center; padding:20px 0; }
#signup form label { font-size:16px; font-weight:bold; }
#signup form input[type=text], #signup form input[type=password] { margin:5px 0; padding:10px; color:#58585a; font-size:14px; border:1px solid #ECF0F1; width:300px; transition:all 0.5s ease-out; }
#signup form input[type=text].name { width:137px;}
#signup form input[type=text]:focus, #signup form input[type=password]:focus { box-shadow:0px 1px 1px #58585a; }
#signup form input[type=submit] { margin:5px 40px; padding:10px 0; float:left; font-size:14px; width:30%; font-weight:bold; background:#2ABB9B; border:1px solid #2ABB9B; color:#FFFFFF; transition:all 0.5s ease-out; position:relative; cursor:pointer; }
#signup form input[type=submit]:hover { box-shadow:0px 2px 0px #58585a; }
/*-----------------------------------------------------------End Index-----------------------------------------------------------*/
/*-----------------------------------------------------------Welcome-----------------------------------------------------------*/
#welcome {
    padding:100px 0;
}
#welcome h3, #welcome h5 {
    text-align:center;
}
#welcome .choose-category {
    margin:20px auto;
    width:50%;
    background:#FFFFFF;
}
#welcome .choose-category form { padding:0; width:100%; }
#welcome .choose-category .ac-custom ul, #welcome .choose-category .ac-custom ol { list-style:none; padding:0; margin:0 auto; }
#welcome .choose-category .ac-custom li { margin:0 auto; padding:30px 20px; position: relative; border-bottom:1px solid #ECF0F1; }
#welcome .choose-category .ac-custom li.no-border { border:none; }
#welcome .choose-category .ac-custom label { display:inline-block; position:relative; font-size:18px; padding:0 0 0 65px; color:#58585a; cursor:pointer; -webkit-transition:color 0.5s; transition:color 0.5s; }
#welcome .choose-category .ac-custom input[type="radio"], .ac-custom label::before { width:30px; height:30px; top:30%; margin-top:-25px; position:absolute; cursor:pointer; }
#welcome .choose-category .ac-custom input[type="radio"] { opacity:0; -webkit-appearance:none; display:inline-block; vertical-align:middle; z-index:100; }
#welcome .choose-category .ac-custom label::before { content: ''; border:4px solid #fff; -webkit-transition:opacity 0.5s; transition:opacity 0.5s; }
#welcome .choose-category .ac-radio label::before { border-radius:50%; }
/* General SVG and path styles */
#welcome .choose-category .ac-custom svg { position:absolute; width:30px; height:30px; top:50%; margin-top:-20px; left:5px; pointer-events:none; }
#welcome .choose-category .ac-custom svg path { stroke:#58585a; stroke-width:10px; stroke-linecap:round; stroke-linejoin:round; fill:none; }
/* Specific input, SVG and path styles */
/* Circle */
#welcome .choose-category .ac-circle input[type="radio"], #welcome .choose-category .ac-circle label::before { width:20px; height:20px; margin-top:-10px; left:10px; position:absolute; }
#welcome .choose-category .ac-circle label::before { background-color:#FFFFFF; border:5px solid #58585a; }
#welcome .choose-category .ac-circle svg { width:50px; height:50px; margin-top:-25px; left:20px; }
#welcome .choose-category .ac-circle svg path { stroke-width:5px; }
/*-----------------------------------------------------------End Welcome-----------------------------------------------------------*/
/*-----------------------------------------------------------Side Navigations-----------------------------------------------------------*/
nav.side-navs {
    margin-top:18px;
    margin-right:5%;
    float:right;
    width:240px;
    background:#ffffff;
}
nav.side-navs ul {
    list-style:none;
}
nav.side-navs ul li {
    list-style:block;
    border-bottom:1px solid #ECF0F1;
    cursor:pointer;
	list-style:none;
    font-size:14px;
}
nav.side-navs ul li.courses {
    padding:12px 15px;
    font-weight:bold;
}
nav.side-navs ul li.no-border {
    border:none;
}
nav.side-navs ul li a {
    padding:12px 15px;
    display:block;
    text-decoration:none;
    color:#58585a;
    transition:all 0.5s ease-out;
}
nav.side-navs ul li a.html {
    border-right:5px #19B5FE solid;
    transition:all 0.5s ease-out;
}
nav.side-navs ul li a.html:hover {
    border-right:15px #19B5FE solid;
    border-left:none;
    color:#19B5FE;
}
nav.side-navs ul li a.css {
    border-right:5px #3498DB solid;
    transition:all 0.5s ease-out;
}
nav.side-navs ul li a.css:hover {
    border-right:15px #3498DB solid;
    border-left:none;
    color:#3498DB;
}
nav.side-navs ul li a.cpp {
    border-right:5px #67809F solid;
    transition:all 0.5s ease-out;
}
nav.side-navs ul li a.cpp:hover {
    border-right:15px #67809F solid;
    border-left:none;
    color:#67809F;
}
nav.side-navs ul li a.php {
    border-right:5px #3A539B solid;
    transition:all 0.5s ease-out;
}
nav.side-navs ul li a.php:hover {
    border-right:15px #3A539B solid;
    border-left:none;
    color:#3A539B;
}
nav.side-navs ul li a.javascript {
    border-right:5px #F9BF3B solid;
    transition:all 0.5s ease-out;
}
nav.side-navs ul li a.javascript:hover {
    border-right:15px #F9BF3B solid;
    border-left:none;
    color:#F9BF3B;
}
nav.side-navs ul li a.jquery {
    border-right:5px #22313F solid;
    transition:all 0.5s ease-out;
}
nav.side-navs ul li a.jquery:hover {
    border-right:15px #22313F solid;
    border-left:none;
    color:#22313F;
}
nav.side-navs ul li a.asp {
    border-right:5px #C0392B solid;
    transition:all 0.5s ease-out;
}
nav.side-navs ul li a.asp:hover {
    border-right:15px #C0392B solid;
    border-left:none;
    color:#C0392B;
}
nav.side-navs ul li a.android {
    border-right:5px #2ECC71 solid;
    transition:all 0.5s ease-out;
}
nav.side-navs ul li a.android:hover {
    border-right:15px #2ECC71 solid;
    border-left:none;
    color:#2ECC71;
}
nav.side-navs ul li a.java {
    border-right:5px #F22613 solid;
    transition:all 0.5s ease-out;
}
nav.side-navs ul li a.java:hover {
    border-right:15px #F22613 solid;
    border-left:none;
    color:#F22613;
}
nav.side-navs ul li a.wordpress {
    border-right:5px #6C7A89 solid;
    transition:all 0.5s ease-out;
}
nav.side-navs ul li a.wordpress:hover {
    border-right:15px #6C7A89 solid;
    border-left:none;
    color:#6C7A89;
}
nav.side-navs ul li a.d-tools {
    border-right:5px #913D88 solid;
    transition:all 0.5s ease-out;
}
nav.side-navs ul li a.d-tools:hover {
    border-right:15px #913D88 solid;
    border-left:none;
    color:#913D88;
}
nav.side-navs ul li a.business {
    border-right:5px #BE90D4 solid;
    transition:all 0.5s ease-out;
}
nav.side-navs ul li a.business:hover {
    border-right:15px #BE90D4 solid;
    border-left:none;
    color:#BE90D4;
}
nav.side-navs ul li a:hover {
    color:#2ABB9B;
    background:#ffffff;
    border-left:15px solid #2ABB9B;
}
nav.side-navs ul li a.active-notifications, aside nav ul li a.active-notifications:hover {
    color:#58585a;
    background:#ffffff;
    border-right:10px solid #58585a;
}
/*-----------------------------------------------------------End Side Navigations-----------------------------------------------------------*/
/*-----------------------------------------------------------Home-----------------------------------------------------------*/
.track-progress{ padding:20px; }
.track-progress .progress-bar { margin:20px 0; width:80%; border:10px solid #58585a; }
a.resume-track { padding:10px; display:inline-block; text-decoration:none; font-size:14px; background:#2ABB9B; color:#ffffff; transition:all 0.5s ease-out; }
.popular-courses {
    border-top:2px solid #2ABB9B;
    width:450px;
    float:left;
    margin:20px 0 20px 20px;
    background:#ECF0F1;
}
.new-courses {
    border-top:2px solid #2ABB9B;
    width:450px;
    float:right;
    margin:20px 20px 20px 0;
    background:#ECF0F1;
}
ul.course-widget { padding:20px 35px; }
ul.course-widget li { padding:10px; transition:all 0.5s ease-out; }
ul.course-widget li a { text-decoration:none; color:#58585a; transition:all 0.5s ease-out; }
ul.course-widget li:hover, ul.course-widget li a:hover { color:#2ABB9B; }
.top-students {
    border-top:2px solid #2ABB9B;
    width:920px;
    float:left;
    margin:20px 0 20px 20px;
    padding:20px 0;
    background:#ECF0F1;
}
.top-students .first-trophy { float:left; padding:40px 20px; }
.top-students .first-trophy .content a { float:left; padding:40px 20px 0; text-decoration:none; color:#58585a; font-size:18px; transition:all 0.5s ease-out; }
.top-students .second-trophy { float:left; padding:40px 20px; }
.top-students .second-trophy .content a { float:left; padding:40px 20px 0; text-decoration:none; color:#58585a; font-size:18px; transition:all 0.5s ease-out; }
.top-students .third-trophy { float:right; padding:40px 0; }
.top-students .third-trophy .content a { float:left; padding:40px 20px 0; text-decoration:none; color:#58585a; font-size:18px; transition:all 0.5s ease-out; }
.top-students .content img { float:left; }
.top-students .content a:hover { color:#2ABB9B; }
.top-students .content p { padding-left:120px; font-size:14px; font-style:italic; }
.popular-courses h3, .new-courses h3, .top-students h3 { padding:20px 0 0 20px; color:#2ABB9B; }
/*-----------------------------------------------------------End Home-----------------------------------------------------------*/
/*-----------------------------------------------------------Profile-----------------------------------------------------------*/
.profile-pic { padding:15px 20px; float:left; }
.profile-pic img { border:10px solid #ECF0F1; }
.user-info { padding:15px 20px; }
.user-info p { font-size:14px; }
.course-cols { padding:20px; }
.course-cols ul { list-style:none; font-size:16px; }
.course-cols ul.cols li { padding:20px 0; }
.course-cols .col1 { width:20%; float:left; }
.course-cols .col2 { width:20%; float:left; }
.course-cols .col3 { width:20%; float:left; }
.course-cols .col4 { width:20%; float:left; }
.info { padding:10px 20px; font-size:14px; }
.cols-categories { padding:20px 20px; }
ul.profile { padding-bottom:20px; list-style:none; font-size:16px; }
ul.profile li  { padding:20px 100px 20px 0; }
.cols-categories .col1 { float:left; }
.cols-categories .col2 { float:left; }
/*-----------------------------------------------------------End Profile-----------------------------------------------------------*/
/*-----------------------------------------------------------Notifications-----------------------------------------------------------*/
ul.notifications { padding:20px 20px 10px; list-style:none; }
ul.notifications li { padding:5px 0; font-size:14px; }
ul.notifications li.day { padding-bottom:15px; font-size:16px; font-weight:bold; }
/*-----------------------------------------------------------End Notifications-----------------------------------------------------------*/
/*-----------------------------------------------------------Leaderboard-----------------------------------------------------------*/
table.leaderboard {
    *border-collapse:collapse; /* IE7 and lower */
    margin:0 auto;
    padding:40px 20px 40px;
    border-spacing:0;
    width:90%;
    font-size:14px;
}
table.leaderboard td, table.leaderboard th { padding:15px; padding-left:40px; color:#58585a; }
table.leaderboard tr td a { color:#58585a; font-weight:bold; transition:all 0.5s ease-out; }
table.leaderboard tr td a:hover { color:#2ABB9B; }
table.leaderboard tbody tr:nth-child(even) { background:#ECF0F1; }
table.leaderboard tbody tr { transition:all 0.5s ease-out; }
table.leaderboard tbody tr:hover { background:#ffffff; }
table.leaderboard th { text-align:left; background-color:#2ABB9B; color:#ffffff; }
table.leaderboard tfoot td { border-bottom: 0; text-align:center; font-weight:bold; color:#ffffff; background:#2ABB9B; }
/*-----------------------------------------------------------End Leaderboard-----------------------------------------------------------*/
/*-----------------------------------------------------------Library-----------------------------------------------------------*/
.library-intro { padding:20px; }
.library-intro p { font-size:14px; }
.library-intro a { color:#2ABB9B; font-size:14px; }
nav.default { padding:10px 20px 0; }
nav.default a { list-style:inline-block; padding:10px 20px; transition:all 0.5s ease-out; }
nav.default a:hover { color:#2ABB9B; background:#ECF0F1; border-top:2px solid #2ABB9B; }
.split-library { padding:0 0 15px 0; }
.half-one { border-top:2px solid #2ABB9B; width:450px; float:left; margin:20px 20px 0; background:#ECF0F1; }
.half-two { border-top:2px solid #2ABB9B; width:450px; float:right; margin:20px 20px 0 0; background:#ECF0F1; }
.course-info { padding:20px 0 20px 20px; }
.course-info h4.course-name { padding:10px 0; color:#2ABB9B; }
.course-info p.points { font-size:14px; background:#ffffff; display:inline-block; padding:1px 10px; }
.rating { padding:20px 0 20px 20px; float:left; }
.rating p { font-size:14px; }
.learn-now { padding:10px 0; float:right; }
.learn-now a.learn-now { display:inline-block; width:80px; text-align:center; padding:5px 15px; background:#2ABB9B; font-size:14px; color:#ffffff; }
.color-tag { padding:0; float:right; }


.color-tag a.html, 
.color-tag a.css, 
.color-tag a.cpp,
.color-tag a.php,
.color-tag a.javascript,
.color-tag a.jquery, 
.color-tag a.asp, 
.color-tag a.android, 
.color-tag a.java, 
.color-tag a.wordpress, 
.color-tag a.d-tools, 
.color-tag a.business,
.color-tag a.design,
.color-tag a.other
{ 
    text-align:center; 
    display:inline-block; 
    width:80px; 
    padding:3px 15px; 
    font-size:10px; 
    color:#ffffff; 
}

.color-tag a.html{ background:#19B5FE; }
.color-tag a.css { background:#34495e; } 
.color-tag a.cpp { background:#2c3e50; } 
.color-tag a.php { background:#3498db; } 
.color-tag a.javascript { background:#d35400; } 
.color-tag a.jquery { background:#03C9A9; } 
.color-tag a.asp { background:#F5D76E; } 
.color-tag a.android { background:#2ECC71; } 
.color-tag a.java { background:#c0392b; } 
.color-tag a.wordpress { background:#95a5a6; } 
.color-tag a.d-tools { background:#1abc9c; } 
.color-tag a.business { background:#26A65B; }
.color-tag a.design { background:#e67e22; }
.color-tag a.other { background:#aea8d3; }

/*-----------------------------------------------------------End Library-----------------------------------------------------------*/
/*-----------------------------------------------------------Learning Paths-----------------------------------------------------------*/
.half-one { border-top:2px solid #2ABB9B; width:47.5%; float:left; margin:20px 0 0 1.7%; background:#ECF0F1; }
.half-two { border-top:2px solid #2ABB9B; width:47.5%; float:right; margin:20px 1.7% 0 0; background:#ECF0F1; }
.course-info { padding:20px 0 20px 20px; }
.course-info h2.course-name { padding:10px 0; color:#2ABB9B; }
.course-info ul { padding-left:15px; }
.course-info ul li { padding:5px 0; }
.inline-buttons { padding:0 20px 20px; float:right; }
/*-----------------------------------------------------------End Learning Paths-----------------------------------------------------------*/
/*-----------------------------------------------------------Course Playback-----------------------------------------------------------*/
.widgets { float:right; margin-right:5%; }
.widgets .widget-video-transition { margin-top:18px; padding:10px 0; width:240px; background:#ffffff; }
.widgets .widget-video-transition h6 { padding:10px 10px 0; }
.widgets .widget-video-transition h4 { padding:5px 10px 0; }
.widgets .widget-video-transition ul { padding:10px 0 40px 0; list-style:none; }
.widgets .widget-video-transition ul li { padding:5px 0; display:inline-block; border-bottom:1px solid #ECF0F1; text-align:center; cursor:pointer; font-size:14px; background:#2ABB9B; transition:all 0.5s ease-out; opacity:0.6; }
	.widgets .widget-video-transition ul li:hover { opacity:1; }
.widgets .widget-video-transition ul li  a { color:#FFFFFF; transition:all 0.5s ease-out; }
.widgets .widget-video-transition ul li.previous { width:35%; float:left; margin-left:14%; }
.widgets .widget-video-transition ul li.next { width:35%; float:right; margin-right:14%; }

.widgets .widget-course-progress { margin-top:18px; padding:10px 0 20px; width:240px; background:#ffffff; }
.widgets .widget-course-progress h4 { padding:10px 10px 0; }
.widgets .widget-course-progress .progress-bar { margin:0 auto; padding:5px 15px; width:80%; border-bottom:10px solid #58585a; }

.widgets .widget-project-files { margin-top:18px; padding:10px 0 20px; width:240px; background:#ffffff; }
.widgets .widget-project-files h4 { padding:10px; }
.widgets .widget-project-files a { padding:5px 10px; margin-bottom:10px; transition:all 0.5s ease-out; }
	.widgets .widget-project-files a:hover { color:#2ABB9B; }
	.widgets .widget-project-files a span img { padding-right:10px; }

.widgets .widget-facebook-recommendations { margin-top:18px; padding:10px 0 20px; width:240px; background:#ffffff; }
.widgets .widget-facebook-recommendations h4, p.fb-feeds { padding:5px 10px; border-bottom:1px solid #ECF0F1; }
	.widgets .widget-facebook-recommendations p.fb-feeds { opacity:0.8; }

.widget-video-player { margin:10px auto; width:95%; height:420px; background:#ECF0F1; }
.content-md h3.course-title { margin:0 2.5%; padding:5px 0 10px; border-bottom:1px solid #ECF0F1; }
.content-md .teacher-notes { margin:20px 2.5%; }
.content-md .teacher-notes ol { padding:5px 20px; color:#2ABB9B; }
.content-md .teacher-notes ol li { padding:3px 0 }
.content-md .teacher-notes ol li a { color:#2ABB9B; transition:all 0.5s ease-out; }
.content-md .teacher-notes ol li a:hover { text-decoration:underline; }

.content-md .widget-facebook-commenter { margin:0 2.5%; }
/*-----------------------------------------------------------End Course Playback-----------------------------------------------------------*/
/*-----------------------------------------------------------Course Introduction-----------------------------------------------------------*/
.content-lg h2.course-heading { padding:10px 20px;}
.content-lg ul.course-desc { float:left;padding:5px 20px; list-style:none; }
	.content-lg ul.course-desc li { padding-right:15px; display:inline; }
	.content-lg ul.course-desc li span { vertical-align:middle; padding:0 5px; }
.content-lg p.developed-by { padding:0 20px; float:right; }
.content-lg p.course-desc { float:left; padding:5px 20px; width:70%; }
form.enroll-me { padding:0 20px 10px; float:right; position:relative; text-align:center; }
form.enroll-me input[type=submit] { padding:5px 50px; font-size:16px; background:#2ABB9B; border:1px solid #2ABB9B; color:#FFFFFF; transition:all 0.5s ease-out; position:relative; cursor:pointer; }
form.enroll-me input[type=submit]:hover { background:#ECF0F1; border:1px solid #2ABB9B; color:#2ABB9B; }

.tabs { position:relative; overflow:hidden; margin:0 auto; width:80%; font-size:18px; }
.tabs nav { text-align:center; }
.tabs nav ul { position:relative; display:-ms-flexbox; display:-webkit-flex; display:-moz-flex; display:-ms-flex; display:flex; margin:0 auto; padding:0; list-style:none;
	-ms-box-orient:horizontal; -ms-box-pack:center; -webkit-flex-flow:row wrap; -moz-flex-flow:row wrap; -ms-flex-flow:row wrap; flex-flow:row wrap; -webkit-justify-content:center; -moz-justify-content:center; -ms-justify-content:center; justify-content:center; }
.tabs nav ul li { position:relative; z-index:1; display:block; margin:0; text-align:center; -webkit-flex:1; -moz-flex:1; -ms-flex:1; flex:1; }
.tabs nav a { position:relative; display:block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; line-height:2.5; color:#58585a; }
.tabs nav a span { vertical-align:middle; }
.tabs nav li.tab-current a { color:#2ABB9B; background:#FFFFFF; }
.tabs nav a:focus { outline:none; }
.tabs-style-underline nav { background:#FFFFFF; border-bottom:1px solid #ECF0F1; }
.tabs-style-underline nav a { padding:0.25em 0 0.5em; border-left:1px solid #ECF0F1; -webkit-transition:color 0.5s; transition:color 0.5s; }
.tabs-style-underline nav li:last-child a { border-right:1px solid #ECF0F1; }
.tabs-style-underline nav li a::after { position:absolute; bottom:0; left:0; width:100%; height:6px; background:#2ABB9B; content:''; -webkit-transition:-webkit-transform 0.5s; transition:transform 0.5s; -webkit-transform:translate3d(0,150%,0); transform:translate3d(0,150%,0); }
.tabs-style-underline nav li.tab-current a::after { -webkit-transform:translate3d(0,0,0); transform:translate3d(0,0,0); }

.content-wrap { position:relative; }
.content-wrap section { display:none; margin:0 auto; padding:1em; }
.content-wrap section.content-current { display:block; }
.content-wrap #section-underline-1 img { margin:10px auto; padding:0; }
.content-wrap #section-underline-1 p.video-desc { margin:10px 0; font-size:14px; text-align:justify; border:none }
.content-wrap #section-underline-1 h4 { margin:10px 0; }
.content-wrap #section-underline-1 ul, .content-wrap #section-underline-1 p { margin:10px 0; padding:0 0 10px 0; list-style:none; border-bottom:1px solid #ECF0F1; font-size:14px; }
.content-wrap #section-underline-1 ul li { margin:10px 0; padding:5px 0; }
.content-wrap #section-underline-2 h5 { margin:10px 0; padding:10px 0; list-style:none; font-size:14px; }
.content-wrap #section-underline-2 p, .content-wrap #section-underline-3 p { font-size:14px; }
.content-wrap #section-underline-3 ul.course-content { padding:10px 0; list-style:none; }
	.content-wrap #section-underline-3 ul.course-content li { padding:10px 0; border-bottom:1px solid #ECF0F1; }
	.content-wrap #section-underline-3 ul.course-content li span { vertical-align:middle; padding:25px 25px 0 10px; }
h3.widget-similar-courses { margin:20px 0; padding:0 0 10px 60px; width:100%; border-bottom:1px solid #ECF0F1; }
.widget-similar-courses { margin:0 auto; padding:10px 0 20px 0; width:90%; border-bottom:1px solid #ECF0F1; }
.widget-similar-courses img { float:left; padding-left:20px; }
.widget-similar-courses h4, .widget-similar-courses p { padding-left:240px; }
.widget-similar-courses ul.course-desc { padding-left:220px; padding:50px 0 0 20px; list-style:none; }
	.widget-similar-courses ul.course-desc li { display:inline; }
	.widget-similar-courses ul.course-desc li span { vertical-align:middle; padding:0 2px; }
/*-----------------------------------------------------------End Course Introduction-----------------------------------------------------------*/
/*-----------------------------------------------------------Technology Feeds-----------------------------------------------------------*/
.feeds-col1 { margin:10px 0 10px 2.2%; float:left; width:22%; border:1px solid #ECF0F1; }
.feeds-col2 { margin:10px 0 10px 2.2%; float:left; width:22%; border:1px solid #ECF0F1; }
.feeds-col3 { margin:10px 0 10px 2.2%; float:left; width:22%; border:1px solid #ECF0F1; }
.feeds-col4 { margin:10px 0 10px 2.2%; float:left; width:22%; border:1px solid #ECF0F1; }
h3.h-feeds { padding:10px 0; text-align:center; background:#ECF0F1; }
p.p-feeds { padding:10px; text-align:justify; }

/*-----------------------------------------------------------End Technology Feeds-----------------------------------------------------------*/
/*-----------------------------------------------------------Add Course-----------------------------------------------------------*/
.onoffswitch { position:relative; width:100px; -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none; }
    .onoffswitch-checkbox { display:none; }
    .onoffswitch-label { display:block; overflow:hidden; cursor:pointer; border:1px solid #2ABB9B; border-radius:0px; }
    .onoffswitch-inner { display:block; width:200%; margin-left:-100%; -moz-transition:margin 0.5s ease-in 0s; -webkit-transition:margin 0.5s ease-in 0s; -o-transition:margin 0.5s ease-in 0s; transition:margin 0.5s ease-in 0s; }
        .onoffswitch-inner:before, .onoffswitch-inner:after { display:block; float:left; width:50%; height:30px; padding:0; line-height:30px; font-size:14px; color:white; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; }
        .onoffswitch-inner:before { content:"Show"; padding-left:20px; background-color:#2ABB9B; color:#FFFFFF; text-align:left; }
        .onoffswitch-inner:after { content:"Hide"; padding-right:25px; background-color:#ECF0F1; color:#2ABB9B; text-align:right; }
    .onoffswitch-switch { display:block; width:10px; margin:10px; background:#FFFFFF; border:1px solid #2ABB9B; border-radius:0px; position:absolute; top:0; bottom:0; right:67px; -moz-transition:all 0.5s ease-in 0s; -webkit-transition:all 0.5s ease-in 0s; -o-transition:all 0.5s ease-in 0s; transition:all 0.5s ease-in 0s; }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner { margin-left:0; }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch { right:0px; }
.save-unsave { margin-right:310px; float:right; }
    .save-unsave .inline-buttons a { width:80px; }

form.add-course table.add-course { margin:20px auto; font-size:16px; color:#58585a; text-align:left; }
form.add-course table.add-course tr td { margin:0 auto; padding:12px 15px; }
form.add-course table.add-course tr td input[type=text], form.add-course table.add-course tr td input[type=textarea] { padding:5px; width:600px; font-size:16px; }
form.add-course table.add-course tr td input.answer { margin:0 10px 0 0; width:500px; color:#58585a; }
form.add-course table.add-course tr td textarea { padding:5px; width:602.5px; font-size:16px; }
form.add-course table.add-course tr td select { padding:5px; width:613.5px; font-size:16px; color:#58585a; }
form.add-course input[type=submit], form.add-course input[type=reset] { padding:5px 50px; font-size:16px; background:#2ABB9B; border:1px solid #2ABB9B; color:#FFFFFF; transition:all 0.5s ease-out; position:relative; cursor:pointer; }
form.add-course input[type=submit]:hover, form.add-course input[type=reset]:hover { background:#ECF0F1; border:1px solid #2ABB9B; color:#2ABB9B; }

/*-----------------------------------------------------------End Add Course-----------------------------------------------------------*/
/*-----------------------------------------------------------Account Settings-----------------------------------------------------------*/
table.settings { margin-left:20px; font-size:16px; color:#58585a; text-align:left; }
table.settings tr th { padding:20px 0; }
table.settings tr td { padding-left:80px; }

form table.editform { margin:20px auto; font-size:16px; color:#58585a; text-align:left; }
form table.editform tr td { margin:0 auto; padding:12px 15px; }
form table.editform tr td input[type=text], form table.editform tr td input[type=textarea] { padding:5px; width:600px; font-size:16px; }
form table.editform tr td textarea { padding:5px; width:602.5px; font-size:16px; }
form table.editform tr td select { padding:5px; width:613.5px; font-size:16px; color:#58585a; }
form table.editform input[type=submit], form table.editform input[type=reset] { padding:5px 50px; font-size:16px; background:#2ABB9B; border:1px solid #2ABB9B; color:#FFFFFF; transition:all 0.5s ease-out; position:relative; cursor:pointer; }
form table.editform input[type=submit]:hover, form table.editform input[type=reset]:hover { background:#ECF0F1; border:1px solid #2ABB9B; color:#2ABB9B; }
/*-----------------------------------------------------------End Account Settings-----------------------------------------------------------*/
/*-----------------------------------------------------------Footer-----------------------------------------------------------*/
footer {
    margin:30px auto 0; background:#00A8E7; color:#ffffff;
}
.about h3, .learn h3, .social-media h3, .subscribe h3 { color:#ffffff; }
.about ul li a, .learn ul li a, .social-media ul li a { color:#ffffff; text-decoration:none; }
.about { padding-top:3%; padding-left:5%; float:left; }
.about ul { padding:20px 0; list-style:none; font-size:14px; }
.about ul li { padding:5px 0; }
.learn { padding-top:3%; padding-left:17%; float:left; }
.learn ul { padding:20px 0; list-style:none; font-size:14px; }
.learn ul li { padding:5px 0; }
.social-media { padding-top:3%; padding-left:17%; float:left; }
.social-media ul { padding:20px 0; list-style:none; font-size:14px; }
.social-media ul li { padding:5px 0; }
.subscribe { padding-top:3%; float:right; }
.subscribe p { padding:20px 0; font-size:14px; color:#ffffff; width:80%; }
.subscribe form input[type=text] { font-size:14px; width:50%; padding:5px; border:3px solid #ECF0F1; transition:all 0.5s ease-out; color:#2ABB9B; }
.subscribe form input[type=text]:hover { border-color:#00A8E7; }
.subscribe form input[type=text]:focus { border-color:#2ABB9B; outline:none; /* Remove Chrome's outline */ }
.subscribe form input[type=submit] { padding:5px; font-size:14px; font-weight:bold; background:#2ABB9B; border:2px solid #2ABB9B; color:#FFFFFF; transition:all 0.5s ease-out; position:relative; cursor:pointer; }
.subscribe form input[type=submit]:hover { background:#ECF0F1; border:2px solid #ECF0F1; color:#00A8E7; }
.copyrights { padding:1% 0; padding-left:5%; }
.copyrights p { font-size:14px; color:#ffffff; }
/*-----------------------------------------------------------End Footer-----------------------------------------------------------*/